@page "/budgetdashboard"
@using Client.Models
@inject Client.Services.IncomeApiClient incomeApiClient
@inject Client.Services.SavingsApiClient savingsApiClient
@inject Client.Services.ExpensesApiClient expensesApiClient
@inject Client.Services.YearApiClient yearsApiClient
@inject Client.Services.CompletedBudgetApiService budgetCompletion
@inject Client.Services.MonthsApiClient monthsApiClient

@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager UriHelper
@inject IMessageService MessageService

<style>
    td {
        text-align: center;
        border: 1px solid rgb(190, 190, 190);
    }

    th {
        text-align: center;
        border: 1px solid rgb(190, 190, 190);
        padding: 10px;
    }
</style>

<select @onchange="((ChangeEventArgs e) => GetLatestDataByYearIdAsync(e))">
    <option value="budget">--Year-</option>
    @foreach (var year in Years)
    {
        <option value="@year.Id">@year.Name</option>
    }
</select>


<select @onchange="((ChangeEventArgs e) => GetIncomeByMonthIdAsync(e))">
    <option value="income">--income-</option>
    @foreach (var month in Income)
    {
        <option value="@month.Id">Income in @month.Name</option>
    }
</select>

<select @onchange="((ChangeEventArgs e) => GetSavingsByMonthIdAsync(e))">
    <option value="savings">--savings-</option>
    @foreach (var month in Savings)
    {
        <option value="@month.Id">Savings in @month.Name</option>
    }
</select>

<select @onchange="((ChangeEventArgs e) => GetExpensesByMonthIdAsync(e))">
    <option value="expenses">--expenses-</option>
    @foreach (var month in Expenses)
    {
        <option value="@month.Id">Expenses in @month.Name</option>
    }
</select>
<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <table>
                    <tr>
                        <th>Income</th>
                        <th>Tracked</th>
                        <th>Budget</th>
                        <th>%Compl.</th>
                        <th>Remaining</th>
                        <th>Excess</th>
                    </tr>
                    @if (TrackedBudgetIncome != null)
                    {
                        <tr>
                            <td>Employment</td>
                            <td>@TrackedBudgetIncome.Income.TrackedEmployment</td>
                            <td>@TrackedBudgetIncome.Income.Employment</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"
                                        style="width: @BudgetCompletionPercent.CompletedEmployment%"
                                        aria-valuenow="@BudgetCompletionPercent.CompletedEmployment" aria-valuemin="0"
                                        aria-valuemax="100">@BudgetCompletionPercent.CompletedEmployment%</div>
                                </div>
                            </td>
                            <td>@BudgetCompletion.CompletedEmployment</td>
                            <td></td>
                        </tr>
                        <tr>
                        <td>SideHustle</td>
                        <td>@TrackedBudgetIncome.Income.TrackedSideHustle</td>
                        <td>@TrackedBudgetIncome.Income.SideHustle</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: @BudgetCompletionPercent.CompletedSidehustle%"
                                    aria-valuenow="@BudgetCompletionPercent.CompletedSidehustle" aria-valuemin="0"
                                    aria-valuemax="100">@BudgetCompletionPercent.CompletedSidehustle%
                                </div>
                            </div>
                        </td>
                        <td>@BudgetCompletion.CompletedSidehustle</td>
                        <td></td>
                    </tr>
                        <tr>
                        <td>Dividents</td>
                        <td>@TrackedBudgetIncome.Income.TrackedDividends</td>
                        <td>@TrackedBudgetIncome.Income.Dividends</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: @BudgetCompletionPercent.CompletedDividends%"
                                    aria-valuenow="@BudgetCompletionPercent.CompletedDividends" aria-valuemin="0"
                                    aria-valuemax="100">@BudgetCompletionPercent.CompletedDividends%
                                </div>
                            </div>
                        </td>
                        <td>@BudgetCompletion.CompletedDividends</td>
                        <td></td>
                    </tr>
                        <tr>
                        <td>Total</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    }
                    else
                    {
                        <h1>loading...</h1>
                    }
                </table>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <table>
                    <tr>
                        <th>Savings</th>
                        <th>Tracked</th>
                        <th>Budget</th>
                        <th>%Compl.</th>
                        <th>Remaining</th>
                        <th>Excess</th>
                    </tr>
                    @if (TrackedBudgetSavings != null)
                    {
                        <tr>
                            <td>EmergencyFund</td>
                            <td>@TrackedBudgetSavings.Savings.TrackedEmergencyFund</td>
                            <td>@TrackedBudgetSavings.Savings.EmergencyFund</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"
                                        style="width: @BudgetCompletionPercent.CompletedEmergencyFund%"
                                        aria-valuenow="@BudgetCompletionPercent.CompletedEmergencyFund" aria-valuemin="0"
                                        aria-valuemax="100">
                                        @BudgetCompletionPercent.CompletedEmergencyFund%
                                    </div>
                                </div>
                            </td>
                            <td>@BudgetCompletion.CompletedEmergencyFund
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                        <td>RetirementAccount</td>
                        <td>@TrackedBudgetSavings.Savings.TrackedRetirementAccount</td>
                        <td>@TrackedBudgetSavings.Savings.RetirementAccount</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: @BudgetCompletionPercent.CompletedRetirementAccount%"
                                    aria-valuenow="@BudgetCompletionPercent.CompletedRetirementAccount"
                                    aria-valuemin="0" aria-valuemax="100">
                                    @BudgetCompletionPercent.CompletedRetirementAccount%
                                </div>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                        <tr>
                        <td>Vacation</td>
                        <td>@TrackedBudgetSavings.Savings.TrackedVacation</td>
                        <td>@TrackedBudgetSavings.Savings.Vacation</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: @BudgetCompletionPercent.CompletedSavingsVacation%" aria-valuemin="0"
                                    aria-valuenow="@BudgetCompletionPercent.CompletedSavingsVacation"
                                    aria-valuemax="100">@BudgetCompletionPercent.CompletedSavingsVacation%
                                </div>
                            </div>
                        </td>
                        <td>@BudgetCompletion.CompletedSavingsVacation
                        </td>
                        <td></td>
                    </tr>
                        <tr>
                        <td>HealthNeeds</td>
                        <td>@TrackedBudgetSavings.Savings.TrackedHealthNeeds</td>
                        <td>@TrackedBudgetSavings.Savings.HealthNeeds</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: @BudgetCompletionPercent.CompletedHealthNeeds%"
                                    aria-valuenow="@BudgetCompletionPercent.CompletedHealthNeeds" aria-valuemin="0"
                                    aria-valuemax="100">@BudgetCompletionPercent.CompletedHealthNeeds%
                                </div>
                            </div>
                        </td>
                        <td>@BudgetCompletion.CompletedHealthNeeds
                        </td>
                        <td></td>
                    </tr>
                        <tr>
                        <td>Total</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    }
                    else
                    {
                        <h1>loading...</h1>
                    }
                </table>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <table>
                    <tr>
                        <th>Expenses</th>
                        <th>Tracked</th>
                        <th>Budget</th>
                        <th>%Compl.</th>
                        <th>Remaining</th>
                        <th>Excess</th>
                    </tr>
                    @if (TrackedBudgetSavings != null)
                    {

                        <tr>
                            <td>Housing</td>
                            <td>@TrackedBudgetExpenses.Expenses.TrackedHousing</td>
                            <td>@TrackedBudgetExpenses.Expenses.Housing</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"
                                        style="width:@BudgetCompletionPercent.CompletedHousing%"
                                        aria-valuenow="@BudgetCompletionPercent.CompletedHousing" aria-valuemin="0"
                                        aria-valuemax="100">@BudgetCompletionPercent.CompletedHousing%
                                    </div>
                                </div>
                            </td>
                            <td>@BudgetCompletion.CompletedHousing</td>
                            <td></td>
                        </tr>
                        <tr>
                        <td>Groceries</td>
                        <td>@TrackedBudgetExpenses.Expenses.TrackedGroceries</td>
                        <td>@TrackedBudgetExpenses.Expenses.Groceries</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: @BudgetCompletionPercent.CompletedGroceries%"
                                    aria-valuenow="@BudgetCompletionPercent.CompletedGroceries" aria-valuemin="0"
                                    aria-valuemax="100">
                                    @BudgetCompletionPercent.CompletedGroceries%
                                </div>
                            </div>
                        </td>
                        <td>@BudgetCompletion.CompletedGroceries</td>
                        <td></td>
                    </tr>
                        <tr>
                        <td>Utilities</td>
                        <td>@TrackedBudgetExpenses.Expenses.TrackedUtilities</td>
                        <td>@TrackedBudgetExpenses.Expenses.Utilities</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: @BudgetCompletionPercent.CompletedUtilities%"
                                    aria-valuenow="@BudgetCompletionPercent.CompletedUtilities" aria-valuemin="0"
                                    aria-valuemax="100">@BudgetCompletionPercent.CompletedUtilities%
                                </div>
                            </div>
                        </td>
                        <td>@BudgetCompletion.CompletedUtilities</td>
                        <td></td>
                    </tr>
                        <tr>
                        <td>Vacation</td>
                        <td>@TrackedBudgetExpenses.Expenses.TrackedVacation</td>
                        <td>@TrackedBudgetExpenses.Expenses.Vacation</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: @BudgetCompletionPercent.CompletedExpensesVacation%"
                                    aria-valuenow="@BudgetCompletionPercent.CompletedExpensesVacation" aria-valuemin="0"
                                    aria-valuemax="100">@BudgetCompletionPercent.CompletedExpensesVacation%
                                </div>
                            </div>
                        </td>
                        <td>@BudgetCompletion.CompletedExpensesVacation
                        </td>
                        <td></td>
                    </tr>
                        <tr>
                        <td>Transportation</td>
                        <td>@TrackedBudgetExpenses.Expenses.TrackedTransportation</td>
                        <td>@TrackedBudgetExpenses.Expenses.Transportation</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: @BudgetCompletionPercent.CompletedTransportation%"
                                    aria-valuenow="@BudgetCompletionPercent.CompletedTransportation"
                                    aria-valuemax="100">@BudgetCompletionPercent.CompletedTransportation%
                                </div>
                            </div>
                        </td>
                        <td>@BudgetCompletion.CompletedTransportation
                        </td>
                        <td></td>
                    </tr>
                        <tr>
                        <td>Medicine</td>
                        <td>@TrackedBudgetExpenses.Expenses.TrackedMedicine</td>
                        <td>@TrackedBudgetExpenses.Expenses.Medicine</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: @BudgetCompletionPercent.CompletedMedicine%"
                                    aria-valuenow="@BudgetCompletionPercent.CompletedMedicine" aria-valuemin="0"
                                    aria-valuemax="100">@BudgetCompletionPercent.CompletedMedicine%
                                </div>
                            </div>
                        </td>
                        <td>@BudgetCompletion.CompletedMedicine</td>
                        <td></td>
                    </tr>
                        <tr>
                        <td>Clothing</td>
                        <td>@TrackedBudgetExpenses.Expenses.TrackedClothing</td>
                        <td>@TrackedBudgetExpenses.Expenses.Clothing</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: @BudgetCompletionPercent.CompletedClothing%"
                                    aria-valuenow="@BudgetCompletionPercent.CompletedClothing" aria-valuemax="100">
                                    @BudgetCompletionPercent.CompletedClothing%
                                </div>
                            </div>
                        </td>
                        <td>@BudgetCompletion.CompletedClothing</td>
                        <td></td>
                    </tr>
                        <tr>
                        <td>Media</td>
                        <td>@TrackedBudgetExpenses.Expenses.TrackedMedia</td>
                        <td>@TrackedBudgetExpenses.Expenses.Media</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: @BudgetCompletionPercent.CompletedMedia%"
                                    aria-valuenow="@BudgetCompletionPercent.CompletedMedia" aria-valuemax="100">
                                    @BudgetCompletionPercent.CompletedMedia%
                                </div>
                            </div>
                        </td>
                        <td>@BudgetCompletion.CompletedMedia</td>
                        <td></td>
                    </tr>
                        <tr>
                        <td>Insuranses</td>
                        <td>@TrackedBudgetExpenses.Expenses.TrackedInsuranses</td>
                        <td>@TrackedBudgetExpenses.Expenses.Insuranses</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                    style="width: @BudgetCompletionPercent.CompletedInsuranses%"
                                    aria-valuenow="@BudgetCompletionPercent.CompletedInsuranses" aria-valuemin="0"
                                    aria-valuemax="100">@BudgetCompletionPercent.CompletedInsuranses%
                                </div>
                            </div>
                        </td>
                        <td>@BudgetCompletion.CompletedInsuranses</td>
                        <td></td>
                    </tr>
                        <tr>
                        <td>Total</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    }
                    else
                    {
                        <h1>loading...</h1>
                    }
                </table>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code
{
    private int size = 50;
    private BudgetModel? TrackedBudgetIncome;
    private BudgetModel? TrackedBudgetSavings;
    private BudgetModel? TrackedBudgetExpenses;
    private IEnumerable<BudgetModel>? Expenses = new List<BudgetModel>();
    private IEnumerable<BudgetModel>? Savings = new List<BudgetModel>();
    public IEnumerable<BudgetModel>? Income = new List<BudgetModel>();
    private IEnumerable<YearModel>? Years = new List<YearModel>();
    private IEnumerable<BudgetModel>? Months = new List<BudgetModel>();
    private BudgetCompletionModel BudgetCompletion = new BudgetCompletionModel();
    private BudgetCompletionModel BudgetCompletionPercent = new BudgetCompletionModel();

    private YearModel selectedYear { get; set; } = new YearModel { Name = "" };

    protected override async Task OnInitializedAsync()
    {
        Years = await yearsApiClient.GetYearsAsync();
        Months = await monthsApiClient.GetMonthsAsync();
        TrackedBudgetIncome = await incomeApiClient.GetLatestIncomeAsync();
        TrackedBudgetSavings = await savingsApiClient.GetLatestSavingsAsync();
        TrackedBudgetExpenses = await expensesApiClient.GetLatestExpensesAsync();
        BudgetCompletion = await budgetCompletion.GetBudgetCompletionByMonthIdAsync(Months.Select(month =>
        month.Id).LastOrDefault());
        BudgetCompletionPercent = await budgetCompletion.GetBudgetCompletionByMonthIdInPercentAsync(Months.Select(month =>
        month.Id).LastOrDefault());
    }

    public async Task GetLatestDataByYearIdAsync(ChangeEventArgs e)
    {
        await GetLatestIncomeByYearIdAsync(e);
        await GetLatestExpensesByYearIdAsync(e);
        await GetLatestSavingsByYearIdAsync(e);
    }

    public async Task GetLatestIncomeByYearIdAsync(ChangeEventArgs e)
    {
        var yearId = int.Parse(e.Value?.ToString());
        Income = await incomeApiClient.GetIncomeByYearId(yearId);
        TrackedBudgetIncome = Income?.LastOrDefault();
        StateHasChanged();
    }

    public async Task GetIncomeByMonthIdAsync(ChangeEventArgs e)
    {
        var monthId = int.Parse(e.Value?.ToString());
        TrackedBudgetIncome = await incomeApiClient.GetIncomeByMonthIdAsync(monthId);
        StateHasChanged();
    }

    public async Task GetLatestSavingsByYearIdAsync(ChangeEventArgs e)
    {
        var yearId = int.Parse(e.Value?.ToString());
        Savings = await savingsApiClient.GetSavingsByYearId(yearId);
        TrackedBudgetSavings = Savings?.LastOrDefault();
        StateHasChanged();
    }

    public async Task GetSavingsByMonthIdAsync(ChangeEventArgs e)
    {
        var monthId = int.Parse(e.Value?.ToString());
        TrackedBudgetSavings = await savingsApiClient.GetSavingsByMonthIdAsync(monthId);
        StateHasChanged();
    }

    public async Task GetLatestExpensesByYearIdAsync(ChangeEventArgs e)
    {
        var yearId = int.Parse(e.Value?.ToString());
        Expenses = await expensesApiClient.GetExpensesByYearId(yearId);
        TrackedBudgetExpenses = Expenses?.LastOrDefault();
        StateHasChanged();
    }

    public async Task GetExpensesByMonthIdAsync(ChangeEventArgs e)
    {
        var monthId = int.Parse(e.Value?.ToString());
        TrackedBudgetExpenses = await expensesApiClient.GetExpensesByMonthIdAsync(monthId);
        StateHasChanged();
    }
}