@* @page "/simple"
@inject Client.Services.ApiClient apiClient

<html>

<head>
<meta charset="utf-8">
<style>
tr:hover {
background-color: #c9decd;
}

th {
align-content: center;
text-align: center;
}

tr {
align-content: center;
text-align: center;
}

#rowIncome {
background-color: rgb(5, 234, 255);
}

#rowExpenses {
background-color: pink;
}

#rowSavings {
background-color: rgb(104, 255, 104);
}

#sidehustle,
#total,
#emergencyfund,
#retirementaccount,
#vacation,
#healthneeds,
#housing,
#utilities,
#groceries,
#transportation,
#insuranses,
#clothings,
#media,
#medicine,
#dividends,
#employment,
#totalIncome,
#totalSavings,
#totalExpenses {
align-content: left;
text-align: left;
}

h1 {
text-align: center;
}

select {
background-color: #c9decd;
font-size: medium;
padding: 2px 5px;
font-size: small
}
</style>
</head>

<body>
<select id="years" @bind="_selected">
<option value="">--Year--</option>
@foreach (var year in Years)
{
foreach (var month in year.Months)
{
<option value="@year.Name">@month.Name</option>

}
}
</select>
<table id="income" class="table table-striped table-sm table-bordered">
<tr>
<thread>
<th>Income</th>
<th>Jan</th>
<th>Fab</th>
<th>Mar</th>
<th>Apr</th>
<th>May</th>
<th>June</th>
<th>July</th>
<th>Aug</th>
<th>Sep</th>
<th>Oct</th>
<th>Nov</th>
<th>Des</th>
</thread>
</tr>
<tbody>
<tr>
<td id="sidehustle">SideHustle</td>
@foreach (var item in Data)
{

<td>@item.Income.SideHustle</td>
}
</tr>
<tr>
<td id="dividends">Dividends</td>
@foreach (var item in Data)
{
<td>@item.Income.Dividends</td>
}
</tr>
<tr>
<td id="employment">Employment</td>
@foreach (var item in Data)
{
<td>@item.Income.Employment</td>
}
</tr>
<tr id="rowIncome">
<td id="totalIncome">Total</td>
@foreach (var item in Data)
{
<td>@item.MonthlyIncome</td>
}
</tr>
</tbody>
</table>

<table class="table table-striped table-sm table-bordered">
<tr>
<thread>
<th>Savings</th>
<th>Jan</th>
<th>Fab</th>
<th>Mar</th>
<th>Apr</th>
<th>May</th>
<th>June</th>
<th>July</th>
<th>Aug</th>
<th>Sep</th>
<th>Oct</th>
<th>Nov</th>
<th>Des</th>
</thread>
</tr>
<tbody>
<tr>
<td id="emergencyfund">EmergencyFund</td>
@foreach (var item in Data)
{
<td>@item.Savings.EmergencyFund</td>
}
</tr>
<tr>
<td id="retirementaccount">RetirementAccount</td>
@foreach (var item in Data)
{
<td>@item.Savings.RetirementAccount</td>
}
</tr>
<tr>
<td id="vacation">Vacation</td>
@foreach (var item in Data)
{
<td>@item.Savings.Vacation</td>
}
</tr>
<tr>
<td id="healthneeds">HealthNeeds</td>
@foreach (var item in Data)
{
<td>@item.Savings.HealthNeeds</td>
}
</tr>
<tr id="rowSavings">
<td id="totalSavings">Total</td>
@foreach (var item in Data)
{
<td>@item.MonthlySavings</td>
}
</tr>
</tbody>

</table>
<table class="table table-striped table-sm table-bordered">
<tr>
<thread>
<th>Expenses</th>
<th>Jan</th>
<th>Fab</th>
<th>Mar</th>
<th>Apr</th>
<th>May</th>
<th>June</th>
<th>July</th>
<th>Aug</th>
<th>Sep</th>
<th>Oct</th>
<th>Nov</th>
<th>Des</th>
</thread>
</tr>
<tbody>
<tr>
<td id="housing">Housing</td>
@foreach (var item in Data)
{
<td>@item.Expenses.Housing</td>
}
</tr>
<tr>
<td id="utilities">Utilities</td>
@foreach (var item in Data)
{
<td>@item.Expenses.Utilities</td>
}
</tr>
<tr>
<td id="groceries">Groceries</td>
@foreach (var item in Data)
{
<td>@item.Expenses.Groceries</td>
}
</tr>
<tr>
<td id="transportation">Transportation</td>
@foreach (var item in Data)
{
<td>@item.Expenses.Transportation</td>
}
</tr>
<tr>
<td id="insuranses">Insuranses</td>
@foreach (var item in Data)
{
<td>@item.Expenses.Insuranses</td>
}
</tr>
<tr>
<td id="clothings">Clothing</td>
@foreach (var item in Data)
{
<td>@item.Expenses.Clothing</td>
}
</tr>
<tr>
<td id="medicine">Medicine</td>
@foreach (var item in Data)
{
<td>@item.Expenses.Medicine</td>
}
</tr>
<tr>
<td id="media">Media</td>
@foreach (var item in Data)
{
<td>@item.Expenses.Media</td>
}
</tr>
<tr>
<td id="vacation">Vacation</td>
@foreach (var item in Data)
{
<td>@item.Expenses.Vacation</td>
}
</tr>
<tr id="rowExpenses">
<td id="totalExpenses">Total</td>
@foreach (var item in Data)
{
<td>@item.MonthlyExpenses</td>
}
</tr>
</tbody>
</table>
</body>

</html>


@code {
public string _selected = "month";
public List<MonthModel>? Data = new List<MonthModel>();
public List<YearModel>? Years = new List<YearModel>();

protected override async Task OnInitializedAsync()
{
Data = await apiClient.GetMonthsAsync();
Years = await apiClient.GetYearsAsync();
}
} *@